<template name="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <style>
                    h1 {text-align: center}
                </style>
                <h1>About this Website</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Created using</h4>
                <p>Meteor</p>
                <p>Blog tutorial from
                <a href="http://naturaily.com/blog/post/how-to-create-blog-in-meteor-not-for-complete-beginners">
                    Here
                </a></p>
                <p>Javascript</p>
                <p>CSS</p>
            </div>
            <div class="col-md-4">
                <h4>Uses</h4>
                <p>iron:router</p>
                <p>twbs:bootstrap</p>
                <p>aldeed:collection2</p>
                <p>aldeed:autoform</p>
                <p>sacha:spin</p>
                <p>accounts-password</p>
                <p>ian:accounts-ui-boostrap-3</p>
            </div>
        </div>
    </div>

</template>