<template name="home">
    <div class="jumbotron text-center">
        <h1>Welcome to my webpage</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <style>
                    h2 {text-align: center}
                    h3 {text-align: center}
                </style>
                <h2>This website was created by Jaron Kuriyama</h2>
                <h3>For ICS 415 Fall 2015</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    Here we have a blog.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Click
                    <a href="blog">Here</a>
                    to go to that blog.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    We also have an about page.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Click
                    <a href="about">Here</a>
                    to go to that about page.
                </p>
            </div>
        </div>
    </div>
</template>